.background1,
.background2,
.background3 {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.background1 {
  animation: backgroundFade 40s linear infinite;
}

.background2 {
  animation: backgroundFade2 40s linear infinite;
}

.background3 {
  animation: backgroundFade3 40s linear infinite;
}

@keyframes backgroundFade {
  0% {
    opacity: 1;
  }
  23% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backgroundFade2 {
  0% {
    opacity: 0;
  }
  23% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  56% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backgroundFade3 {
  0% {
    opacity: 0;
  }
  56% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-content {
  margin-top: 150px;
  animation: fadeIn 3s linear;
  position: relative;
}

.list-group {
  margin-left: 5%;
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  justify-content: center;
}

.navbar {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  animation: fadeIn 2s linear;
}

.logo {
  height: 121px;
  padding-right: 40px;
}

.btn-block {
  width: 95%;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

#search-input {
  width: 50%;
  text-align: center;
  margin-bottom: 12px;
  margin-left: 25%;
}
