body {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  height: 100vh;
  margin-top: 135px;
}

.background1,
.background2,
.background3 {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.background1 {
  animation: backgroundFade 40s linear infinite;
}

.background2 {
  animation: backgroundFade2 40s linear infinite;
}

.background3 {
  animation: backgroundFade3 40s linear infinite;
}

@keyframes backgroundFade {
  0% {
    opacity: 1;
  }
  23% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backgroundFade2 {
  0% {
    opacity: 0;
  }
  23% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  56% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backgroundFade3 {
  0% {
    opacity: 0;
  }
  56% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  justify-content: center;
}

.page-header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  height: 121px;
  line-height: 0.92;
  letter-spacing: 15px;
  color: white;
  animation: fadeIn 3s linear;
}

.logo {
  height: 121px;
  padding-right: 40px;
}

.btn-block {
  margin-bottom: 15px;
  width: 85%;
}


#movie-list {
  position: relative;
  animation: fadeIn 4s linear;
}

.top-link {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #F8F8F8;
}

.top-link:hover {
  background-color: #E8E8E8;
}
